<a href="https://colab.research.google.com/github/kaustubhgupta/analytics-vidhya-demo/blob/main/Model_training.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv('/content/cleaned_dataset.csv')

In [3]:
df_model = df[['avg_salary','Sector','python_yn','job_sim','R_yn','tableau','power bi','ml','dl', 'Rating']]
df_dum = pd.get_dummies(df_model)

In [5]:
df_model

     avg_salary                        Sector  python_yn  ... ml  dl  Rating
0          72.0           Aerospace & Defense          1  ...  1   0     3.8
1          87.5                   Health Care          1  ...  1   0     3.4
2          85.0             Business Services          1  ...  1   0     4.8
3          76.5  Oil, Gas, Energy & Utilities          1  ...  1   1     3.8
4         114.5             Business Services          1  ...  1   0     2.9
..          ...                           ...        ...  ... ..  ..     ...
737        84.5     Biotech & Pharmaceuticals          0  ...  0   0     3.9
738       102.5        Information Technology          1  ...  1   0     4.4
739        73.5                     Education          0  ...  1   0     2.6
740       127.5             Business Services          0  ...  1   0     3.2
741        93.5                    Government          1  ...  1   0     3.6

[742 rows x 10 columns]

In [6]:
from sklearn.model_selection import train_test_split

X = df_dum.drop('avg_salary', axis = 1)
y = df_dum.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

In [14]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor()

In [8]:
# 22 minutes process

from sklearn.model_selection import GridSearchCV
parameters = {
    "n_estimators": range(10, 400, 10),
    "criterion": ['mse','mae'],
    "max_features": ['auto','sqrt','log2']
    }

gs = GridSearchCV(regressor, param_grid = parameters, scoring = 'neg_mean_absolute_error', cv = 5)
gs.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestRegressor(bootstrap=True, ccp_alpha=0.0,
                                             criterion='mse', max_depth=None,
                                             max_features='auto',
                                             max_leaf_nodes=None,
                                             max_samples=None,
                                             min_impurity_decrease=0.0,
                                             min_impurity_split=None,
                                             min_samples_leaf=1,
                                             min_samples_split=2,
                                             min_weight_fraction_leaf=0.0,
                                             n_estimators=100, n_jobs=None,
                                             oob_score=False, random_state=None,
                                             verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['mse', 'mae'],
                         'max_features': ['auto', 'sqrt', 'log2'],
                         'n_estimators': range(10, 400, 10)},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring='neg_mean_absolute_error', verbose=0)

In [10]:
gs.best_score_

-16.916608973161367

In [11]:
y_pred = gs.best_estimator_.predict(X_test)

In [12]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_pred)

15.266131424628396

In [13]:
import pickle
filename = 'random_forest_model.pkl'
pickle.dump(gs.best_estimator_, open(filename, 'wb'))

In [16]:
model_columns = list(X.columns)
with open('columns.pkl','wb') as file:
    pickle.dump(model_columns, file)